// Fonts

$font-roboto: "Roboto", sans-serif;
$font-arvo: "Arvo", serif;

// Colors

$main-black: #222222;
$main-black-trans: rgba(34, 34, 34, 0.3);
$main-white: #f1f1f1;
$main-white-trans: rgba(240, 240, 240, 0.9);
$sec-dark: #313131;
$sec-color: #29d4c0;
$sec-color-title: #4a6365;
$sec-bg-color: #eeffff;
$hl-color: #b3fff6;
$des-color: #868e96;

// Font sizes
$h-size: 40px;
$subh-size: 30px;
$par-size: 16px;
$nl-size: 20px;
$rm-size: 16px;
$des-size: 14px;
$quote-size: 20px;
// Transition

$tr: 0.3s;
$tr2: 0.7s;
